[Unit]
Description=QA Test Suite
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
WorkingDirectory=/home/truffle/qa
ExecStart=/usr/bin/python3 /home/truffle/qa/src/main.py
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target 